<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learn.mapper.CustomerMapper" >
  <resultMap id="BaseResultMap" type="com.learn.pojo.Customer" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="cust_id" property="custId" jdbcType="INTEGER" />
    <result column="cust_name" property="custName" jdbcType="VARCHAR" />
    <result column="cust_salary" property="custSalary" jdbcType="DOUBLE" />
    <result column="cust_age" property="custAge" jdbcType="INTEGER" />
  </resultMap>
</mapper>